/* Обнуление */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    /* background-color: #333; */
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
}

@font-face {
    font-family: "Monserat";
    src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Monserat';
    font-weight: 400;
}

.header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #0c0602d0;
    /* background-color: #1f0f05; */
    font-size: 11px;
    line-height: 40px;
}

.nav-list {
    display: flex;
    justify-content: center;

}

.nav-list li {
    min-width: 165px;
    text-align: center;
}

.nav-link {
    color: #fff;
    padding: 0px 10px;
    text-transform: uppercase;  
    transition: 0.2s; 
}

.nav-link:hover {
    font-size: 14px;
}

.fullscreen {
    min-height: 100vh;
    display: flex;
    background-color: #0c0602;    
    /* padding: 10px 0; */
}

.fullscreen2 {
    min-height: 80vh;
    display: flex;
    /* background-color: #1f0f05;   */
    background-color: #0c0602;
    padding: 10px 0;
}

/* .non-fullscreen {
    display: flex;
    min-height: 100vh;
    background-color: #0c0602;
    display: flex;
} */

.f-body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1440px;    
    /* margin: 0 auto; */
    margin: 40px auto 0px;
    text-align: center;    
    padding: 0 20px;
}

.f-body-main {
    background: url('./assets/images/chockolate.jpg') center / cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: #c4a69186;
    align-self: center;
    border-radius: 300px;
}

.f-title {
    font-size: 25px;  
}

.f-text {
    font-size: 20px;
    margin: 0px 0px 20px 0px;     
}

.f-link {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    align-self: center;
    padding: 0 20px;
}

.f-bg {
    background: url('./assets/images/truffle.jpg') center / cover no-repeat fixed;
}

.f-bg2 {
    background: url('./assets/images/hand.jpg') center / cover no-repeat fixed;
}

.catalog {
    background-color: #0c0602;  
    min-height: 100vh;  
}

.catalog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;    
    margin: 40px auto 30px;
    text-align: center;    
    padding: 0 20px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.catalog-buttons {
    margin-top: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
    align-self: center;
}

.catalog-btn {
    font-family: 'Monserat';
    font-weight: 700;
    text-transform: uppercase;
    width: 130px;
    height: 40px;
    cursor: pointer; 
    transition: 0.5s;
    letter-spacing: 1px;   
}

.catalog-btn:hover {
    background-color: rgb(235, 219, 200);
}

.btn-active {
    width: 160px;
    height: 50px;
}

.one-product-container-chocolate,
.one-product-container-marshmallow,
.one-product-container-marmalade {
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: center;
    overflow: hidden;
    display: none;
}

.active-product {
    display: flex;
}

.one-product {
    /* display: flex;
    flex-direction: column; */
    width: 350px;
    text-align: center;
}

.product-img {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    min-height: 70px;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(250, 230, 207);
}

.product-description {
    margin-top: 10px;
    min-height: 55px;
    padding: 0px 10px;
    font-size: 14px;
}

.product-price {
    margin-top: 15px;
    color: rgb(235, 219, 200)
}

.contacts {
}

.c-body {
    max-width: 1440px;    
    margin: 0px auto;
    padding: 30px 20px;
    background-color: #301c0efd;
}

.c-body p {
    margin: 0px 0px 20px 0px; 
}

.c-body p:last-child {
    margin: 0;
}

.footer {
    background-color: #111;
    text-align: center;

}

.footer-body {
    max-width: 1440px;    
    margin: 0px auto;
    padding: 30px 20px;
}