/* Обнуление */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
}

@font-face {
    font-family: "Monserat";
    src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Pacifico';
    src: url("./assets/fonts/Pacifico-Regular.ttf");
}


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Monserat';
    font-weight: 400;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    min-height: 40px;
    background-color: #f0fde6;
    font-size: 11px;
    line-height: 38px;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-list li {
    min-width: 165px;
    text-align: center;
}

.nav-link {
    color: #000;
    font-weight: 700;
    padding: 0px 10px;
    text-transform: uppercase;  
    transition: 0.2s; 
}

.nav-link:hover {
    font-size: 14px;
}

.fullscreen {
    min-height: 100vh;
    display: flex;
    background-color: #f0fde6;
}

.fullscreen2 {
    min-height: 80vh;
    display: flex;
    background-color: #f0fde6;
    padding: 10px 0;
}

.f-body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1440px;    
    margin: 0px auto 0px;
    text-align: center;    
    padding: 0 20px;
}

.f-body-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 220px;
    background: url('./assets/images/logo.jpg') center / cover no-repeat;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    transition: all 5s;
}

.main-text {
    border-radius: 10px;
    padding: 10px 15px;
    align-self: center;
    background-color: #f0fde6;
    color: #3e7e4c;
    font-family: 'Pacifico';
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 5s 2s;     
}

@keyframes link {
    0%{
        top: 0;
    }
    100%{
        top: 3px;
    }
}

.link-container {
    position: relative;
    margin: 0 auto;
    width: 48px;
    height: 55px;
}

.about-link {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: url('./assets/images/svg/down.svg');
    width: 48px;
    height: 48px;    
    transition: all 5s 4s; 
    animation-name: link;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
    animation-direction: alternate;        
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.f-bg {
    background: url('./assets/images/marshmallow.jpg') center / cover no-repeat fixed;
}

.f-bg2 {
    background: url('./assets/images/marmalade.jpg') center / cover no-repeat fixed;
}

.f-bg3 {
    background: url('./assets/images/marshmallow3.jpg') center / cover no-repeat fixed;
}

/* .f-bg5 {
    background: url('./assets/images/chockolate.jpg') center / cover no-repeat fixed;
} */

.f-bg4 {
    background: url('./assets/images/marshmallow2.jpg') center / cover no-repeat fixed;
}

.catalog {
    background-color: #f0fde6; 
    min-height: 100vh;  
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;    
    text-align: center;    
    padding: 50px 20px; 
}

.about-container {
    margin: auto auto;
    padding: 25px 0px;
    width: 85%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-span {
    color: #3e7e4c; 
    font-weight: 900;
}

.about-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.all-items {
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-item {
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    padding: 30px 5px;
    box-shadow: 0 0 5px #f0fde6;
}

.about-img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 0 55px #9aeeb3;
}

.about-text {
    font-size: 20px;
    margin: auto 20px;
    color: #492e0a;
    font-weight: 700;
}

.about-description {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    height: 150px;
    width: 100%;
    padding-top: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #c5e7cf;
}

.description-img {    
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.rotate-left {
    transform: rotate(-30deg);
    transition: 0.5s;
}

.rotate-left:hover {
    transform: rotate(-390deg);
}

.rotate-right {
    transform: rotate(30deg);
    transition: 0.5s;
}

.rotate-right:hover {
    transform: rotate(390deg);
}

.description-text {
    padding-bottom: 10px;
    color: #492e0a;
    font-weight: 700;
    background-color: #c5e7cf;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.description-text2 {
    margin-top: 30px;
}

.about-holidays {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.one-holiday {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 1px solid #fff;
}

.holiday-img {
    width: 100px;
    height: 100px;    
    object-fit: contain;
    transition: 0.3s;
}

.holiday-img:hover {
    width: 120px;
    height: 120px;
}

.holiday-text {
    margin-top: 10px;
    font-size: 15px;
}

.holiday-text2 {
    margin-top: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/* END ABOUT */

/* CATALOG */

.catalog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;    
    margin: 50px auto 30px;
    text-align: center;    
    padding: 0 20px;
}

.title {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    color: #2e2c2a;
    text-transform: uppercase;
}

.catalog-buttons {
    margin-top: 30px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    align-self: center;
}

.catalog-btn {
    font-family: 'Monserat';
    font-weight: 700;
    text-transform: uppercase;
    width: 130px;
    height: 40px;
    cursor: pointer; 
    transition: 0.5s;
    letter-spacing: 1px; 
    background-color: burlywood;
    color: #2e2c2a;
}

.catalog-btn:hover {
    background-color: #f1cd9e;
}

.btn-active {
    width: 160px;
    height: 50px;
}

.one-product-container-chocolate,
.one-product-container-marshmallow,
.one-product-container-marmalade {
    margin-top: 10px;
    height: auto;
    display: none;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: center;
    overflow: hidden;
}

.active-product {
    display: flex;
}

.one-product {
    width: 350px;
    margin: 20px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #c5e7cf;
    /* box-shadow: 0 0 15px #5a5858; */
}

.product-img {
    margin-top: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    min-height: 70px;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #2e2c2a;
}

.product-description {
    margin-top: 10px;
    min-height: 55px;
    padding: 0px 10px;
    font-size: 14px;
    color: #504d4d;
}

.product-price {
    margin: 15px 0;
    color: #2e2c2a;
}

/* _______DELIVERY____*/

.title-wrapper {
    margin-bottom: 30px;
    color: #38332d;
    height: 50px;
    border-radius: 20px;
    align-self: center;
}

.delivery {
    background: url('./assets/images/delivery.jpg') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;    
    text-align: center;    
    padding: 50px 20px;

}

.delivery-container {
    margin: auto auto;
    border-radius: 10px;
    padding: 25px;
    background-color: #c0bebeb9;
    max-width: 70%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #c5e7cfb7;
    cursor: default;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.delivery-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.home,
.mail,
.car {
    position: relative;
}

.home::after,
.mail::after,
.car::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    margin-left: 10px;
    top: -11px;
}

.home::after {
    background: url('./assets/images/svg/home.svg');
}

.mail::after {
    background: url('./assets/images/svg/mail.svg');
}

.car::after {
    background: url('./assets/images/svg/car.svg');
}

.delivery-text {
    font-size: 16px;
}

.delivery-span {
    font-weight: 700; 
    color: #464645;
}

/* ____END_DELIVERY___*/

/* ____QUESTIONS */

.questions {
    background: url('./assets/images/questions.jpg') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;    
    text-align: center;    
    padding: 50px 20px;

}

.questions-cotainer {
    border-radius: 10px;
    padding: 25px;
    color: #000;
    width: 70%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    background-color: #f0ffffd2;
}

.question-title {
    margin-bottom: 15px;
    position: relative;
    text-align: start;
    font-size: 20px;
    cursor: pointer;  
    font-weight: 700;  
}

.question-title::after {
    position: absolute;
    content: "";
    background: url('./assets/images/svg/add.svg');
    width: 40px;
    height: 40px;
    right: 0px;
    top: -7px;
    transition: 0.5s;
}

.question-title.deg::after{
    transform: rotate(-45deg);
}


.question-text {
    color: #000;
    text-align: justify;
    font-size: 16px;
    height: 0;
    width: 95%;
    visibility: hidden; 
    opacity: 0;  
    transition: all 0.3s linear; 
}

.active-text {
    visibility: visible;
    opacity: 1;
    height: auto;
}

/* ___END QUESTIONS */

/* _____________FORM */

.f-body-form {
    background: url('./assets/images/call.jpg') center / cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form * {
    outline: none;
}

.form {
    max-width: 600px;
    padding: 25px;
    margin: 30px auto 0;
    border-radius: 10px;
    background-color: #c4a691c9;
}

.form-body {
    position: relative;
}

.form-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0602d0 url('./assets/images/sending.gif') center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.form-body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form-title {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #0c0602d0;
    font-weight: 700;
}

.form-title2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #0c0602d0;
    font-weight: 700;
}

.form-item {
    margin-bottom: 15px;
}
.form-label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #38332d;
    font-weight: 700;
}
.form-input {
    height: 50px;
    padding: 0px 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.form-input:focus {
    box-shadow: 0 0 15px #c0bebe;
}

textarea.form-input {
    min-height: 90px;
    padding: 10px 10px;
    resize: none;
    text-align: start;
}

.form-button {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #443115;
    color: rgb(228, 228, 228);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Monserat';
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.form-button:hover {
    background-color: #61451c;
}

.form-input._error {
    box-shadow: 0 0 20px red;
}



/* __________END FORM */

.contacts {
}

.c-body {
    max-width: 1440px;    
    margin: 0px auto;
    padding: 30px 20px;
    background-color: #301c0efd;
}

.c-body p {
    margin: 0px 0px 20px 0px; 
}

.c-body p:last-child {
    margin: 0;
}

.footer {
    background-color: #111;
    text-align: center;

}

.footer-body {
    max-width: 1440px;    
    margin: 0px auto;
    padding: 30px 20px;
}