{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing_app/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'landing_app/images/logo.jpg' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js"
            type="text/javascript"></script>
    <title>Особый случай</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <nav class="nav">
            <ul class="nav-list">
                <li>
                    <a href="#about" class="nav-link">О нас</a>
                </li>
                <li>
                    <a href="#catalog" class="nav-link">Каталог</a>
                </li>
                <li>
                    <a href="#delivery" class="nav-link">Доставка</a>
                </li>
                <li>
                    <a href="#question" class="nav-link">Вопрос-ответ</a>
                </li>
                <li>
                    <a href="#call" class="nav-link">Оформить заказ</a>
                </li>
                <!-- <li>
                    <a href="#contacts" class="nav-link">Контакты</a>
                </li> -->
            </ul>
            <div class="header-burger">
                <span></span>
            </div>
        </nav>
    </header>
    <section class="fullscreen">
        <div class="f-body f-body-main">
            <div class="main-logo"></div>
            <div class="main-text">Для праздника не нужен повод...</div>
            <div class="link-container">
                <a href="#about" class="about-link"></a>
            </div>
        </div>
    </section>
    <section class="fullscreen" id="about">
        <div class="f-body about">
            <div class="about-container">
                <h2 class="about-title">Мы готовимся к Вашему <span class="about-span">Особому случаю</span>
                    основательно!</h2>
                <div class="all-items">
                    <div class="about-item">
                        <img src="{% static 'landing_app/images/b-chockolate.jpg' %}" alt="Бельгийский шоколад"
                             class="about-img">
                        <p class="about-text">Бельгийский шоколад</p>
                    </div>
                    <div class="about-item">
                        <img src="{% static 'landing_app/images/m.jpg' %}" alt="Зефир" class="about-img">
                        <p class="about-text">Зефир</p>
                    </div>
                    <div class="about-item">
                        <img src="{% static 'landing_app/images/sp-marmalade.jpg' %}" alt="Испанский мармелад"
                             class="about-img">
                        <p class="about-text">Испанский мармелад</p>
                    </div>
                    <div class="about-item">
                        <img src="{% static 'landing_app/images/tea.jpg' %}" alt="Ароматный чай" class="about-img">
                        <p class="about-text">Ароматный чай</p>
                    </div>
                </div>
                <div class="about-description">
                    <img src="{% static 'landing_app/images/svg/present-in-blue.svg' %}" alt="gift"
                         class="description-img rotate-left">
                    <img src="{% static 'landing_app/images/svg/christmas-gift-monsterbrain.svg' %}" alt="gift2"
                         class="description-img rotate-right">
                </div>
                <p class="description-text">Каждый подарочный набор оформлен оригинально - впечатления в подарок!</p>
                <p class="description-text2">
                    Сформируйте свой мега крутой набор, который подойдет для любого <span class="about-span">Особого случая</span>
                </p>
                <div class="about-holidays">
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/birthday.svg' %}" alt="birthday"
                             class="holiday-img">
                        <p class="holiday-text">День рождения</p>
                    </div>
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/school.svg' %}" alt="school" class="holiday-img">
                        <p class="holiday-text">Выпускной</p>
                    </div>
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/wedding.svg' %}" alt="wedding" class="holiday-img">
                        <p class="holiday-text">Свадьба</p>
                    </div>
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/new_year.svg' %}" alt="new_year"
                             class="holiday-img">
                        <p class="holiday-text">Новый год</p>
                    </div>
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/christmas.svg' %}" alt="christmas"
                             class="holiday-img">
                        <p class="holiday-text">Рождество</p>
                    </div>
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/8.svg' %}" alt="march 8" class="holiday-img">
                        <p class="holiday-text">8 Марта</p>
                    </div>
                    <div class="one-holiday">
                        <img src="{% static 'landing_app/images/svg/love.svg' %}" alt="love" class="holiday-img">
                        <p class="holiday-text">14 февраля</p>
                    </div>
                </div>
                <p class="holiday-text2">Или просто так, чтобы удивить!</p>
            </div>
        </div>
    </section>
    <section class="fullscreen2 f-bg">
    </section>
    <section class="catalog" id="catalog">
        <div class="catalog-container">
            <h2 class="title">Каталог продукции</h2>
            <div class="catalog-buttons">
                <button class="catalog-btn btn-active" data-product="chocolate">Шоколад</button>
                <button class="catalog-btn" data-product="marshmallow">Зефир</button>
                <button class="catalog-btn" data-product="marmalade">Мармелад</button>
            </div>
            <div class="one-product-container-chocolate active-product">
                {% for c in chockolate %}
                    {% if c.is_published %}
                    <div class="one-product">
                        <img src="{{c.image.url}}" alt="продукт {{ c.pk }}" class="product-img">
                        <p class="product-name">{{c.name}}</p>
                        <p class="product-description">{{c.description}}</p>
                        {% if c.price %}
                            <p class="product-price">{{c.price|floatformat:2}} BYN</p>
                        {% endif %}
                        {% if c.price_per_kg %}
                            <p class="product-price">{{c.price_per_kg|floatformat:2}} BYN</p>
                        {% endif %}
                        {% if c.price_per_100g %}
                            <p class="product-price">{{c.price_per_100g|floatformat:2}} BYN</p>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="one-product-container-marshmallow">
                {% for m in marshmallow %}
                    {% if m.is_published %}
                    <div class="one-product">
                        <img src="{{m.image.url}}" alt="продукт {{ m.pk }}" class="product-img">
                        <p class="product-name">{{m.name}}</p>
                        <p class="product-description">{{m.description}}</p>
                        {% if m.price %}
                            <p class="product-price">{{m.price|floatformat:2}} BYN</p>
                        {% endif %}
                        {% if m.price_per_kg %}
                            <p class="product-price">{{m.price_per_kg|floatformat:2}} BYN</p>
                        {% endif %}
                        {% if m.price_per_100g %}
                            <p class="product-price">{{m.price_per_100g|floatformat:2}} BYN</p>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="one-product-container-marmalade">                
                {% for m in marmalade %}
                    {% if m.is_published %}
                    <div class="one-product">
                        <img src="{{m.image.url}}" alt="продукт {{ m.pk }}" class="product-img">
                        <p class="product-name">{{m.name}}</p>
                        <p class="product-description">{{m.description}}</p>
                        {% if m.price %}
                            <p class="product-price">{{m.price|floatformat:2}} BYN</p>
                        {% endif %}
                        {% if m.price_per_kg %}
                            <p class="product-price">{{m.price_per_kg|floatformat:2}} BYN / 1 кг</p>
                        {% endif %}
                        {% if m.price_per_100g %}
                            <p class="product-price">{{m.price_per_100g|floatformat:2}} BYN / 100 гр</p>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}                   
            </div>
            <div class="warning-block">
                <p class="warning">Наличие товара уточняйте у менеджера</p> 
                <p class="warning">Работаем по предзаказу</p>   
            </div>         
        </div>
    </section>
    <section class="fullscreen2 f-bg2">
    </section>
    <section class="fullscreen" id="delivery">
        <div class="f-body delivery">
            <div class="delivery-container">
                <h2 class="title title-wrapper">Доставка</h2>
                <div class="one-item left">
                    <h3 class="delivery-title home">Для жителей Гродно</h3>
                    <p class="delivery-text">Доставки по г.Гродно <span class="delivery-span">понедельник–пятница с 18:30 до 22:00 при заказе от 40 BYN</span>
                    </p>
                </div>
                <div class="one-item right">
                    <h3 class="delivery-title mail">Доставка почтой</h3>
                    <p class="delivery-text">Мы отправляем заказы почтой по РБ исключительно с пометкой <span
                            class="delivery-span">«Хрупко»</span>.
                        Отправка почтой осуществляется <span class="delivery-span">после 100% предоплаты заказа + стоимость доставки</span>.<br>
                        <span class="delivery-span">Дни отправки:</span> на следующий день после оплаты, кроме субботы и
                        воскресенья
                    </p>
                </div>
                <div class="one-item left">
                    <h3 class="delivery-title car">Самовывоз</h3>
                    <p class="delivery-text">Вы всегда можете забрать заказ самостоятельно!
                        Самовывоз осуществляется по адресу: <span class="delivery-span">г.Гродно, пр-т Янки Купалы, 71.
                            Только будние дни с 10:00 до 17:30</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="fullscreen2 f-bg3">
    </section>
    <section class="fullscreen" id="question">
        <div class="f-body questions">
            <div class="questions-cotainer">
                <h2 class="title">Вопрос-ответ</h2>
                <div class="one-question">
                    <h3 class="question-title">Как оформить заказ?</h3>
                    <div class="question-text">
                        Оформление заказа состоит из <span class="delivery-span">5 простых шагов:</span>
                        <ul class="order-list">
                            <li class="order-step">
                                <h3 class="order-title">
                                    <br>1. Оставьте заявку
                                </h3>
                                <p class="order-text">
                                    Вы можете сделать это <span
                                        class="delivery-span">любым удобным для вас способом:</span>
                                    <ul class="nested-list">
                                        <li class="nested-step">
                                            &nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;Заполнив
                                            <a href="#call" class="delivery-span"
                                               style="text-decoration: underline">
                                                форму
                                            </a>
                                            на сайте
                                        </li>
                                        <li class="nested-step">
                                            &nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;Связаться с нами по телефону
                                            <a href="tel:+375445536540" class="delivery-span" style="text-decoration: underline">
                                                +375445536540
                                            </a>
                                        </li>
                                        <li class="nested-step">
                                            &nbsp;&nbsp;&nbsp;&#9675;&nbsp;&nbsp;&nbsp;Написать нам в
                                            <a href="https://www.instagram.com/osobyj_sluchaj_grodno/" class="delivery-span" style="text-decoration: underline" target="_blank">
                                                Instagram
                                            </a>
                                        </li>
                                    </ul>
                                </p>
                            </li>
                            <li class="order-step">
                                <h3 class="order-title">
                                    <br>2. Ваши пожелания
                                </h3>
                                <p class="order-text">
                                    Вы отправляете нам фото в Instagram и все пожелания по формированию подарочного
                                    набора из шоколада, мармелада, зефира, а также вид упаковки. Напишите дату, к
                                    которой
                                    Вам нужен подарок
                                </p>
                            </li>
                            <li class="order-step">
                                <h3 class="order-title">
                                    <br>3. Согласование и корректировка
                                </h3>
                                <p class="order-text">
                                    Согласовываем подарочный набор. Если необходимо, вносим корректировки
                                </p>
                            </li>
                            <li class="order-step">
                                <h3 class="order-title">
                                    <br>4. Изготовление заказа
                                </h3>
                                <p class="order-text">
                                    После согласования подарочного набора мы <span class="delivery-span">изготавливаем ваш заказ в течение 2-3 рабочих дней</span>
                                </p>
                            </li>
                            <li class="order-step">
                                <h3 class="order-title">
                                    <br>5. Доставка
                                </h3>
                                <p class="order-text">
                                    Выполненный заказ мы отправляем на ваш адрес почтой, либо ждем вас в гости для
                                    получения. Ко всем индивидуальный подход!
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="one-question">
                    <h3 class="question-title">Как произвести оплату?</h3>
                    <div class="question-text">Оплату Вы можете произвести в <span class="delivery-span">любом банке, интернет-банкинге, мобильном банкинге, инфокиоске, банкомате, кассе и т.д.</span>
                    </div>
                </div>
                <div class="one-question">
                    <h3 class="question-title">У вас есть доставка в другие города Беларуси?</h3>
                    <div class="question-text">Да, подарочные наборы отправляются Белпочтой исключительно с пометкой
                        <span class="delivery-span">«Хрупко»</span>. Отправка осуществляется <span
                                class="delivery-span">после 100% предоплаты заказа + стоимость доставки.</span> Срок доставки в другие города:
                        <span class="delivery-span">1-3 дня с момента отправки</span>
                    </div>
                </div>
                <div class="one-question">
                    <h3 class="question-title">Нужно ли делать предварительный заказ?</h3>
                    <div class="question-text">Изготовление заказа осуществляется 1-3 дня, поэтому <span
                            class="delivery-span">заказ необходимо оформлять за 2 дня до Вашего "Особого случая". Если нужна доставка по РБ - не позже 6-ти дней</span>.
                        Все вопросы по доставке и сроках решаем индивидуально
                    </div>
                </div>
                <div class="one-question">
                    <h3 class="question-title">Можно ли собрать набор по своему желанию?</h3>
                    <div class="question-text">Да, есть возможность собрать индивидуальный подарочный набор<span
                            class="delivery-span">*</span>. <br><br><span class="delivery-span">*</span>Индивидуальный
                        подарочный набор подразумевает комбинирование элементов из одного или нескольких наборов
                    </div>
                </div>
                <div class="one-question">
                    <h3 class="question-title">Можно ли вернуть?</h3>
                    <div class="question-text"><span class="delivery-span">Согласно статье 28 Закона РБ "О защите прав потребителей" 90-З от 09.01.2002 г. пункт 5</span>
                        пищевые продукты надлежащего качества обмену и возврату не подлежат. <br><br>Если у Вас возникли
                        какие-либо вопросы или трудности с товаром, Вы можете написать на почту <a
                                href="mailto:osobyjsluchaj@gmail" class="delivery-span" title="Написать">osobyjsluchaj@gmail.com</a>
                        и мы поможем их решить в кратчайшие сроки
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fullscreen2 f-bg4">
    </section>
    <section class="fullscreen" id="call">
        <div class="f-body f-body-form">
            <div class="form">
                <form action="#" class="form-body" id="form">
                    <p class="form-title">Остались вопросы или хотите оформить заказ?</p>
                    <p class="form-title2">Оставьте свои контактные данные и мы свяжемся с Вами в ближайшее время!</p>
                    <div class="form-item">
                        <label for="formName" class="form-label">Имя*</label>
                        <input type="text" id="formName" class="form-input _req" name="name"
                               placeholder="Обязательное поле">
                    </div>
                    <div class="form-item">
                        <label for="formTel" class="form-label">Телефон*</label>
                        <input type="tel" id="formTel" class="form-input mask _req _tel" name="tel"
                               placeholder="Обязательное поле">
                    </div>
                    <div class="form-item">
                        <label for="formMessage" class="form-label">Сообщение</label>
                        <textarea name="message" id="formMessage" class="form-input"></textarea>
                    </div>
                    <button type="submit" class="form-button">Отправить</button>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-body">
            <div class="footer-item">
                <p class="footer-text">ИП Захаревская Юлия Станиславовна</p>
                <p class="footer-text">УНП: 591952292</p>
                <p class="footer-text">Свидетельство от 20 октября 2021 года</p>
                <p class="footer-text">Выдано администрацией Октябрьского района г. Гродно</p>
            </div>
            <div class="footer-img">
                <div class="footer-item2"></div>
                <div class="footer-links">
                    <a href="https://www.instagram.com/osobyj_sluchaj_grodno/" class="footer-link" target="_blank">
                        <div class="inst-f"></div>
                    </a>
                    <a href="mailto:osobyjsluchaj@gmail" class="footer-link">
                        <div class="mail-f"></div>
                    </a>
                    <a href="tel:+375445536540" class="footer-link">
                        <div class="phone-f"></div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script type="module" src="{% static 'landing_app/js/burger.js' %}"></script>
<script type="module" src="{% static 'landing_app/js/catalog.js' %}"></script>
<script type="module" src="{% static 'landing_app/js/questions.js' %}"></script>
<script type="module" src="{% static 'landing_app/js/main.js' %}"></script>
<script type="module" src="{% static 'landing_app/js/form.js' %}"></script>
<script>
    $(".mask").mask("+375999999999");
</script>
<script>
        jQuery(document).ready(function(){
            jQuery('.question-title').click(function(){
                $(this).parents('.one-question').toggleClass("active-text").find('.question-text').slideToggle();
            })
        })
</script>
</body>
</html> 